services:
  backend:
    image: ${DOCKER_REGISTRY-}backend
    build:
      context: .
      dockerfile: Backend/Dockerfile

  db:
    image: postgres:18
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: JobTracker
    ports:
      - "5432:5432"
    volumes:
      - ./pgdata:/var/lib/postgresql
  adminer:
    image: adminer
    restart: always
    ports:
      - "8080:8080"

volumes:
  dbdata:

